.recipe {
  padding: 30px;
  margin:30px;
}

.recipe-title {
  font-weight: bold;
  font-style: italic;
}

.recipe-notes {
  font-style: italic;
}

.recipe-ingredients {
  font-weight: bold;
}

#wet {

}
#dry{


}

.recipe-directions {

}
